/*!--------INDEX.HTML--------*/ 
.contenido{
    width: 100%;
    grid-area: main;
    .hero{
        width: 100%;
        display: grid;
        grid-column: 1/4;
        grid-row: 2/4;
        margin-top: 20px;
        img{
            width: 100%;
            height: 500px;
            border: 2px solid $color-border-primario;
            margin: 40px;
            display: grid;
            grid-column: span 2;
            grid-row: span 2;
        }
        h2{
            display: grid;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
            place-items: center;
            font-style: italic;
            text-align: center;
            color: $color-secundario;
            font-size: nth($size,5);
            margin: 40px;
            padding: 20px;
            background-color: $color-primario;
        }
        a{
            display: grid;
            grid-column: 3/4;
            grid-row: 4/5;
            border: 2px solid $color-border-primario;
            color: $color-terciario;
            font-size: nth($size,2);
            text-decoration: none;
            text-align: center;
            background-color: $color-secundario;
            padding: 10px 10px 10px 10px;
            margin: 25px
        }
    }
    .habitaciones{
        display: grid;
        grid-column: 1/4;
        grid-row: 6/7;
        padding: 20px;
        background-color: $color-secundario;
        .habitacion-index{
            @include flex(flex, space-evenly, center);
            border: 2px solid $color-border-primario;
            padding: 20px 20px 20px 20px;
            margin: 20px;
            img{
                width: 250px;
                height: 200px;
            }
            p{
                @extend %p-index;
            }
        }
        a{
            @extend %boton-vermas-index;
        }
    }
    .restaurante{
        display: grid;
        grid-column: 1/4;
        grid-row: 6/7;
        background-color: $color-secundario;
        padding: 15px;
        .restaurante-index{
            @include flex(flex, space-evenly, center);
            border: 2px solid $color-border-primario;
            padding: 20px 20px 20px 20px;
            margin: 20px;
            img{
                width: 250px;
                height: 200px;
            }
            p{
                @extend %p-index;
            }
        }
        a{  
            @extend %boton-vermas-index;
        }
    }
}
/*!--------EL HOTEL HTML--------*/ 
.presentacion{
    width: 100%;
    grid-area: main;
    background-color: $color-primario;
    h2{
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        color: $color-secundario;
        font-family: nth($font,1);
        background-color: $color-primario;
    }
    .bienvenida{
        @include flex(flex, space-between, center);
        img{
            width: 600px;
            height: 400px;
            padding: 30px;
        }
        p{
            text-align: center;
            font-size: nth($size,3);
            color:$color-secundario;
            padding: 45px;
        }
    }
    h2{ color: $color-secundario;
        width: 100%;
        height: 30px;
        padding: 15px 15px 10px 15px;
        text-align: center;
        font-style: italic;
        font-size: nth($size,4)}
    .historia{
        @include flex(flex, center,center);
        flex-direction: row-reverse;
        background-color: $color-primario;
        width: 100%;
        img{
            width: 600px;
            height: 500px;
            margin-top: 20px;
            padding: 20px 20px 20px 20px;
        }
        p{
            color: $color-secundario;
            padding: 20px 20px 20px 20px;
        }
    a{
        @include flex(flex,space-evenly,center);
        border: 2px solid $color-border-primario;
        color: $color-secundario;
        text-decoration: none;
        padding: 10px 10px 10px 10px;
        margin: 0px 20px 20px 20px;
        background-color: $color-header;
        font-size: nth($size,3);
    }    
    }
}
/*!--------HABITACIONES.HTML--------*/ 
.interior-habitaciones{
    grid-area: main;
    background-color: $color-primario;
    width: 100%;
    display: grid;
    grid-column: 1/4;
    grid-row: 2/4;
    h2{
        color: $color-secundario;
        width: 100%;
        padding: 15px 15px 10px 15px;
        text-align: center;
        font-style: italic;
        font-size: nth($size,5);
    }
    .nuestras-habitaciones{
        @include flex(flex,center,center);
        flex-wrap: wrap;
        p{
            color: $color-secundario;
            width: 40%;
            height: auto;
            padding: 15px 30px 10px 30px;
            text-align:center;
            font-style: italic;
            font-size: nth($size,2);
        }
        img{
            width: 400px;
            height: 500px;
            padding: 20px 20px 35px 20px;

        }
    .galeria-habitaciones{
        @include flex(flex, center, center);
        flex-wrap: wrap;
        width:90%;
        transform: scale(1.1);
        margin: 25px;
        gap:20px;
        img{
            @extend %galeria-habitaciones;
        }
            &:hover{
                transform: scale(1.1);
                box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.79);
                -webkit-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.79);
                -moz-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.79);
            }
    }    
    }
}
/*!--------GASTRONOMIA.HTML--------*/ 
.gastronomia{
    grid-area: main;
    width: 90%;
    background-color: $color-primario;
    color: $color-secundario;
    padding: 15px;
    @include flex(flex, center,center);
    flex-direction: column;
    margin-left: 30px;
    h2{
        text-align: center;
        font-size: 30px;
        font-style: italic;
        padding: 15px;
    }
    p{
        color: $color-secundario;
        width: 100%;
        height: 300px;
        padding: 15px 30px 10px 30px;
        text-align: center;
        font-style: italic;
        font-size: nth($size,2);
    }
    .galeria-resto{
        background-color: $color-primario;
        transform: scale(1.1);
        flex-wrap: wrap;
        @include flex(flex,space-evenly,center);
        gap:15px;
        margin-bottom: 25px;
        img{
            @extend %galeria-gastronomia;
        }
            &:hover{
                transform: scale(1.1);
                box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.79);
                -webkit-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.79);
                -moz-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.79);
            }
    }
}
/*!--------ACTIVIDADES HTML--------*/
.actividades{
    grid-area: main;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;

    .spa .aguas .yoga .escalada .treaking .standup-paddle {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.79);
        transition: 0.3s;
        border-radius: 5px;
        align-items: center;
    }
            .card-actividades{ 
                width: 200px;
                height: 230px;
                border-radius: 5px 5px 0 0;
                align-items: center;
                margin-top: 15px;
            }
            .img{
                align-items: center;
            }
            .card-body{
                padding:5px;
                color: rgb(235, 218, 218);
                font-size: 15px;
            }
                h5{
                    text-align: center;
                    font-size: nth ($size,3);
                    background-color: $color-cards-review;
                }
                .card-text-actividades{
                    color:rgb(235, 218, 218);
                    margin: 10px;
                    font-size: nth($size,2);
                }
                .boton-actividades{
                    text-decoration: none;
                    text-align: center;
                    color: rgb(235, 218, 218);
                    background-color: rgb(111, 140, 120);
                    padding: 10px 20px;
                    margin: 15px;
                    border-radius: 5px;
                    transition: background-color 0.3s ease;
                    .boton-actividades:hover {
                        background-color:rgb(10, 41, 37);
                    }
                }
}