/*!--------RESET--------*/

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: $color-primario;
}

/*!--------BOOSTRAP--------*/ 

.grid-container.header.navbar.navbar-expand-lg{
    width: 100%;
    @include flex(flex,space-between,center);
    .container-fluid{
        width: 100%;
        @include flex(flex,space-between,center);}
        .navbar-brand {
            @include flex(flex,space-between,center);
            color: $color-secundario;
            font-family: 'GFS Didot', serif;}
                img{align-items: start;}
        .collapse .navbar-collapse{
            .nav-link.active{color:$color-secundario;}
            .nav-link{color:$color-secundario;}
        }
    }


/*!--------INDEX MAIN BOOSTRAP CARDS REVIEW--------*/ 
.cards-review{
    grid-column: 1/4;
    grid-row: 7/8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 33px 20px 33px;
    border: 2px solid $color-border-primario;
                .card{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin: 10px;
                    background-color: $color-primario;
                        .card-img-top{
                            width: 130px;
                            height: 130px;
                            padding: 10px;
                            border-radius: 130px;
                        }
                        .card-body{
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                                    .card-text{
                                        font-size: 12px;
                                        text-align: center;
                                        background-color: $color-cards-review;
                                        font-family: 'Lato', sans-serif;
                                        color: $color-secundario;}
                        }
                }
}
        
/*!--------IFRAME GOOGLE MAPS FOOTER--------*/ 
.pie{
    .mapa{
        iframe{
            width: 200px;
            height: 200px;
            @include flex(flex, center,center);
            padding: 20px;
            margin:20px;}
    }
}