
/*!-------index-------*/ 
@media screen and (max-width:997px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "header header"
            "main main"
            "main main"
            "main main"
            "main main"
            "main main"
            "main main"
            "footer footer"
            "footer footer";
    
        .contenido {
            @include flex(flex,center,center);
            flex-direction: column;}
            .hero {
                    @include flex(flex,center,center);
                    flex-direction: column;
                    margin-top: 20px;
                img {
                    width: 60%;
                    height: 400px;
                    @include flex(flex,center,center);
                    flex-wrap: wrap;
                    }
                h2 {
                    @include flex(flex,center,center);
                    font-size: 25px;
                    margin: 20px;
                    padding: 10px;
                    }
                a {
                    @include flex(flex,center,center);
                    margin: 20px
                }}
            }            
}
@media screen and (max-width:750px){
    .hero img{
            width: 50%;
            height: 300px;
            }
        h2 {
            font-size: 25px;
    }
    .habitaciones {
        @include flex(flex,center,center);
        flex-direction: column;
        padding: 15px;
            .habitacion-index {
                justify-content: center;
                flex-direction: column;}
            }
    a {
        font-size: 13px;
    }

    .restaurante {
        @include flex(flex,center,center);
        flex-direction: column;
        padding: 15px;
            .restaurante-index {
                justify-content: center;
                flex-direction: column;}
            }
    a {
        font-size: 13px;
    }
    .redes-sociales{
        flex-direction: column;
    }
}

@media screen and (max-width:640px) {
.grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "footer"
        "footer";}

    .contenido .hero{
        h2 {
            font-size: 17px;
            margin: 0;}
        a {
            font-size: 13px;}
    .pie .mapa p {
        font-size: 13px;
        text-align: center;}}}


@media screen and (max-width:550px){
    .contenido .hero img{
        width: 250px;
        height: 200px;
    }
    .pie .mapa h4{
        text-align: center;
    }
    .pie .redes-sociales h4{
        text-align: center;
    }
    .pie .redes-sociales div{
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width:430px){
.grid-container .contenido{
    .hero h2{ font-size: 12px;}
    .habitaciones .habitaciones-index p{font-size: 10px;}
    }
}
/*!--------el hotel--------*/ 
@media screen and (max-width:950px) {
.grid-container.presentacion 
    h2 {font-size: 17px;}
    .bienvenida {
        justify-content: center;
        flex-direction: column;
        img {
            width: 500px;
            height: 400px;
        }
    }
}
@media screen and (max-width:480px){
.presentacion{
    h2{
        font-size: 20px;
    }
}
}

/*!--------habitaciones--------*/
@media screen and (max-width:980px){
.grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "footer"
        "footer";
    .interior-habitaciones .nuestras-habitaciones{
        @include flex (flex,center,center);
        flex-direction: column;
        height: auto;
        img{
            @include flex(flex,center,center);
            flex-direction: row;
            flex-wrap: wrap;}
        p{
            width: 80%;
            flex-direction: row;
        }
    }
}
}
@media screen and (max-width:460px){
.interior-habitaciones .nuestras-habitaciones{
    p{
        font-size: 10px;
    }
    img{
        width: 210px;
        height: 270px;
    }
    
.galeria-habitaciones{
    height: 100%;
    transform: scale(0.0);
        img{
            transition: none;
            }
            &:hover{
                transform: scale(0.0);
                box-shadow: none;
                -webkit-box-shadow:none;
                -moz-box-shadow:none;
            }
    a{
        margin: 35px;
    }
}
}
}
/*!---------gastronomia---------*/ 

@media screen and (max-width:680px){
    
    .gastronomia{
        p{
            font-size: 12px;
        }
        .galeria-resto{
            width: 80%;
        }
    }
}
@media screen and (max-width:430px){

    .gastronomia{
        p{
            width: 100%;
            font-size: 10px;
        }
        .galeria-resto{
            margin-bottom: 25px;
            width: 100%;
                img{
                    flex-direction: column;
                    width: 100px;
                    height: 150px;
                }
        }
    }
}

/*!---------footer--------*/
@media screen and (max-width:600px){
.pie{
    @include flex(flex,center,center);
    flex-direction: column;
}
}

@media screen and (max-width:445px){
.reservar .reservas form div label{
        font-size: 12px;
    }
}
