/*!--------VARIABLES-------*/
$color-primario: rgb(10,41,37);
$color-secundario: rgb(235,218,218);
$color-terciario: rgb(34,83,77);
$color-header: rgb(31, 65, 61);
$color-border-primario: rgb(119,86,37);
$color-cards-review:  rgb(111, 140, 120);

/*LISTAS*/
$font:
'GFS Didot', serif;

$size:
10px,
15px,
20px,
25px,
30px,
35px;

/*EXTENDS*/

%flexcenter{
    display: flex;
    justify-content:center;
    align-items:center;
}

%flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%p-index{
    text-align: center;
    font-size: 17px;
    color: $color-primario;
    margin: 13px;
    padding: 10px 15px 10px 15px;
}

%boton-vermas-index{
    border: 2px solid $color-border-primario;
    color: $color-secundario;
    font-size: nth($size,2);
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    margin: 0px 20px 20px 20px;
    background-color: $color-primario;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


%galeria-gastronomia{
    width: 250px;
    height: 270px;
    transition: 1s;
}

%h3-amenities-gallery{
    text-align: center;
    font-size: medium;
    color: rgb(235, 218, 218);
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.31);
    width: 100%;
}
/*MIXINS*/ 

@mixin flex($flex,$justify,$align){
    display:$flex;
    justify-content: $justify;
    align-items: $align;
}